.container
    .form
        ul(class="label-group-item")
            each val1 in ["Name", "Status", "Size", "Date", "Time"]
                li(class="list-item")=val1
        ul(class="form-group-item")
            each val2 in ["Chinaza Akachi", "In Progress", "456 MB", "09 Dec 2019", "05:18AM"]
                li(class="list-item")=val2
        ul(class="form-group-item")
            each val3 in ["Bernarr Dominik", "In Progress", "345 MB", "26 Feb 2019", "05:10AM"]
                li(class="list-item")=val3
        ul(class="form-group-item") 
            each val4 in ["Beth Murphy", "In Progress", "498 MB", "16 Sep 2019", "00:37PM"]
                li(class="list-item")=val4
        ul(class="form-group-item")
            each val5 in ["Dameon Peterson", "In Progress", "125 MB", "08 Oct 2019", "05:11AM"]
                li(class="list-item")=val5
        